---
---
@import "variable";

@mixin lineNum-style {
  margin-right: 1rem;
  width: 2.5rem;
  text-align: right;
  counter-increment: ln;
  content: counter(ln);
  color: $linenum-color;
  background-color: #151515;
  font-weight: 400;
}

::selection {
  background: $normal-color;
  color: #000;
}
::-moz-selection {
  background: $normal-color;
  color: #000;
}

body {
  counter-reset: ln;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: $normal-color;
  background-color: #151515;
  font-size: $font-size;
}

#main {
  padding: 1rem 0;
  font-family: monospace;
  color: $normal-color;
  background-color: #151515;

  h1::before {
      padding-right: 2rem;
      background-image: url($pound);
      background-repeat: no-repeat;
      background-position: right top;
  }

  h2::before {
      padding-right: 3rem;
      background-image: url($pound-offset), url($pound);
      background-repeat: no-repeat, no-repeat;
      background-position: right top, right top;
  }

  h1, h2, .Divider {
    margin: 0;
    padding: 0;
    color: $title-color;
    font-size: $font-size;
    font-weight: bold;

    &::before {
      display: inline-block;
      @include lineNum-style;
    }

    &::after {
      display: block;
      @include lineNum-style;
    }

    &::selection {
      background: $title-color;
      color: #000;
    }

    &::-moz-selection {
      background: $title-color;
      color: #000;
    }
  }

  p {
    margin: 0;
    padding: 0;

    &::before {
      display: inline-block;
      @include lineNum-style;
    }

    &::after {
      display: block;
      @include lineNum-style;
    }
  }

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &::after {
      display: block;
      @include lineNum-style;
    }

    li {
      &::before {
        content: "* ";
        color: #c6b6ee;
      }

      &::after {
        float: left;
        display: inline-block;
        @include lineNum-style;
      }
    }
  }

  > div::before {
    display: inline-block;
    @include lineNum-style;
  }

  a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
      color: $title-color;
    }

    &::selection {
      background: $link-color;
      color: #000;
    }

    &::-moz-selection {
      background: $link-color;
      color: #000;
    }
  }

  .status_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
