$font-size: 18px;
$title-color: #70b950;
$link-color: #80a0ff;
$normal-color: #e8e8d3;
$linenum-color: #605958;
$pound: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='13px'><text x='0' y='17' fill='%2370b950' font-size='18' font-weight='600'>%23</text></svg>";
$pound-offset: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='28px'><text x='0' y='17' fill='%2370b950' font-size='18' font-weight='600'>%23</text></svg>";
