body {
  font-family: monospace;
  color: #e8e8d3;
  background-color: #151515;
  font-size: large;
}

.Underlined, a {
  color: #80a0ff;
  text-decoration: underline;
}

a:hover {
  color: #70b950;
}

.Identifier {
  color: #c6b6ee;
}

.Title {
  color: #70b950;
  font-weight: bold;
}

.lnr {
  color: #605958;
  background-color: #151515;
}

pre {
  white-space: pre-wrap;
  font-family: monospace;
  color: #e8e8d3;
  background-color: #151515;
}

